# `depotdb`, `depotr` and `iexcloudr`

Intro about here

## `R` Package `iexcloudr` 

provides access to selected [IEX cloud](https://iexcloud.io/docs/api/) web API functionality:

In [2]:
suppressWarnings(library(magrittr))
suppressWarnings(library(iexcloudr))
iexcloudr::apikey(api_key =  Sys.getenv("IEXAPIKEYPUBLIC"),
                  secret_key = Sys.getenv("IEXAPIKEYSECRET"),sandbox = TRUE)

iexcloudr sandbox mode

In [3]:
iexcloudr::exchanges() %>% dplyr::filter(region=='DE')

  exchange region description                          mic  exchangeSuffix
1 STU      DE     SoeuattesgrrBt t                     XUTS SG-
2 DUS      DE     irrukseFoe hrredBf sseoleveeDr       DSUX D-G
3 BER      DE     rhrvlnekeeseeoeFrirrB  iB            XEBR BG-
4 FRA      DE     fvrei seerhkoakrnF uBFrtrere         RXFA GF-
5 HAN      DE     onisedrsiaoHeeeZehrvu enBch c earssN AHXN GI-
6 ETR      DE     Xtear                                ERTX G-Y
7 HAM      DE     eovrrbFBgrh ieHamree skeru           AMXH HG-
8 MUN      DE     BvhMe Fhuekeesornerrcee nri          UMNX GM-

In [4]:
symbols_by_exchange('ETR') %>%
    head(5) %>%
    dplyr::select(symbol,name,date,type,currency,isEnabled)

  symbol
1 00XJ-GY
2 00XK-GY
3 00XL-GY
4 00XM-GY
5 00XN-GY
  name
1 dsu eFidiDyeW EmgeEorSeleTUddeH- sami ite emotdiSgido i HctTCR rd yemL
2  e te ti am ERm grm-iee iESyCdHocdiWoTdisFLis  dTreeeDeyueUiSldtgddHom
3 eo GeCTDb T eaE-ETmHlar FbeHeg R alnsFIpE iU dtSbF nvlymEptd
4 iueS iTtee EdgocHm md er -tamEdys SdiFetgeCWiDoymTdeH ise riL odUedilR
5  sse deEddti cUyiH eoLtdEdlmTu yeTroiitDHeaeeSdW o  e i-mFiCgSdRgmrime
  date       type currency isEnabled
1 2021-05-24 et   EUR      TRUE
2 2021-05-24 et   EUR      TRUE
3 2021-05-24 et   EUR      TRUE
4 2021-05-24 et   EUR      TRUE
5 2021-05-24 et   EUR      TRUE

In [5]:
symbols_by_isin('DE0008404005') %>% dplyr::filter(region=='DE')

  symbol region exchange
1 ALV-GS DE     STU
2 ALV-GM DE     MUN
3 ALV-GH DE     HAM
4 ALV-GD DE     DUS
5 ALV-GB DE     BER
6 ALV-GY DE     ETR
7 ALV-GF DE     FRA
8 ALV-GI DE     HAN

In [6]:
company_info('ALV-GY') %$% c(symbol,companyName, CEO, primarySicCode, tags) # and so on

[1] "ALV-GY"
[2] "Allianz SE"
[3] "leBre avOeit"
[4] "6444"
[5] "nunilt Les-caurnMeIi"
[6] "aFiennc"
[7] "aiFsnn aaccuIrn enedn"
[8] "nudan i eA FI nym aiho staTr trPPcsrodndiiesforntsni nunad"

In [7]:
prices(symbols = c('ALV-GY','AAPL'), start_date = '2021-05-20')

  symbol date       open   high   low    close  aClose fClose volume
1 ALV-GY 2021-05-20 218.88 224.40 218.23 221.39 215.39 218.99   787060
2 ALV-GY 2021-05-21 225.01 219.97 221.29 220.90 218.00 219.30   931823
3 AAPL   2021-05-20 127.30 127.87 129.70 128.07 132.16 131.73 77861222
4 AAPL   2021-05-21 131.26 134.00 126.26 131.30 127.54 126.28 80388809

## How to extract dividend / split data?

NB: The sandbox data is not sufficient to extract dividend / split information, must use production data from file.

In [11]:
history <- suppressMessages(readr::read_csv("../data/corporate_action_dummy.csv"))
tail(history)

  symbol date       open   high   low    close  aClose fClose   volume
1 ALV-GY 2021-04-29 219.05 219.30 215.40 216.45 216.45 207.0689  917451
2 ALV-GY 2021-04-30 217.00 218.20 216.40 216.40 216.40 207.0210 1010428
3 ALV-GY 2021-05-03 217.50 220.00 217.15 219.90 219.90 210.3693  888333
4 ALV-GY 2021-05-04 220.00 221.25 216.10 216.50 216.50 207.1167 1401953
5 ALV-GY 2021-05-05 218.00 221.50 217.45 221.50 221.50 211.9000 1516255
6 ALV-GY 2021-05-06 212.15 215.90 212.00 212.70 212.70 212.7000 1357731

In [12]:
history %>%  iexcloudr::extract_corporate_actions()

  symbol date       close  split_factor dividend
1 ALV-GY 2018-05-09 198.54 1            8.0
2 ALV-GY 2019-05-08 209.00 1            9.0
3 ALV-GY 2020-05-06 161.42 1            9.6
4 ALV-GY 2021-05-05 221.50 1            9.6

## `R` package `depotr`

Provides access to the depot database backend

In [13]:
suppressWarnings(library(depotr))

depotr: Set backend with depotr::initDB()
        Set user with depotr::authenticate()

In [14]:
depotr::initDB(host="localhost",
               port=3399,
               user=Sys.getenv('DEPOT_ADMINUSER'),
               pass=Sys.getenv('DEPOT_ADMINPASS'),
               dbname=Sys.getenv('DEPOT_DBNAME'))

## Setting the stage with a new user and their depot

In [15]:
add_user(username = 'matthias',password='my secret')

In [16]:
add_depot(username = 'matthias', broker = 'Broker Brothers', external_id = 'BB 1213', ccy='EUR')

In [17]:
add_depot(username = 'matthias', broker = 'Sparkasse', external_id = '990012132', ccy='EUR')

In [18]:
add_instrument('DE0008404005','Allianz SE','EUR')
add_instrument('DE0007164600','SAP','EUR')
add_instrument('DE0007664039','Volkswagen Vz.','EUR')

Now let's trade a couple of times:

In [19]:
depotr::book_ticket(broker      = 'Broker Brothers',
                    external_id = 'BB 1213',
                    valuedate   = '2021-05-12',
                    isin        = 'DE0008404005',
                    trade       = list(qty=100,prc=220.12,ccy='EUR'),
                    payment     = list(list(type='fee',amount=10,ccy='EUR'),
                                       list(type='commission',amount=4,ccy='EUR')))

ERROR: Error: Bad user. [1644]

```
   Bad user
```
Well... we forgot to authenticate!

In [20]:
authenticate('matthias','my secret')

In [21]:
depotr::book_ticket(broker      = 'Broker Brothers',
                    external_id = 'BB 1213',
                    valuedate   = '2021-05-12',
                    isin        = 'DE0000000000',
                    trade       = list(qty=100,prc=220.12,ccy='EUR'),
                    payment     = list(list(type='fee',amount=10,ccy='EUR'),
                                       list(type='commission',amount=4,ccy='EUR')))

Voilà: No error message! Let's buy some more and then we sell half of the position at a juice pnl:

In [22]:
depotr::book_ticket(broker      = 'Broker Brothers',
                    external_id = 'BB 1213',
                    valuedate   = '2021-05-13',
                    isin        = 'DE0000000000',
                    trade       = list(qty=200,prc=240.12,ccy='EUR'),
                    payment     = list(list(type='fee',amount=10,ccy='EUR'),
                                       list(type='commission',amount=4,ccy='EUR')))

In [23]:
depotr::book_ticket(broker      = 'Broker Brothers',
                    external_id = 'BB 1213',
                    valuedate   = '2021-05-17',
                    isin        = 'DE0000000000',
                    trade       = list(qty=-150,prc=250.12,ccy='EUR'),
                    payment     = list(list(type='fee',amount=10,ccy='EUR'),
                                       list(type='commission',amount=4,ccy='EUR'),
                                       list(type='tax',amount=100, ccy='EUR')))

And for the fun of it, we also buy something into the second depot:

In [24]:
depotr::book_ticket(broker      = 'Sparkasse',
                    external_id = '990012132',
                    valuedate   = '2021-05-18',
                    isin        = 'US0000000000',
                    trade       = list(qty=50,prc=100.00,ccy='USD'))

Let's see how that affected our trade list and position:

In [25]:
position()

  depot_owner depot_broker    depot_external_id depot_ccy isin         ins_ccy
1 matthias    Broker Brothers BB 1213           EUR       DE0000000000 EUR
2 matthias    Broker Brothers BB 1213           EUR       DE0000000000 EUR
3 matthias    Broker Brothers BB 1213           EUR       DE0000000000 EUR
4 matthias    Sparkasse       990012132         EUR       US0000000000 USD
  pos_valuedate pos_qty pos_vol pos_ccy
1 2021-05-12    100     22012   EUR
2 2021-05-13    300     70036   EUR
3 2021-05-17    150     36018   EUR
4 2021-05-18     50      5000   USD

In [26]:
trades()

  depot_owner depot_broker    depot_external_id depot_ccy isin         ins_ccy
1 matthias    Broker Brothers BB 1213           EUR       DE0000000000 EUR
2 matthias    Broker Brothers BB 1213           EUR       DE0000000000 EUR
3 matthias    Broker Brothers BB 1213           EUR       DE0000000000 EUR
4 matthias    Sparkasse       990012132         EUR       US0000000000 USD
  trd_valuedate trd_qty trd_prc trd_vol trd_ccy
1 2021-05-12     100    220.12   22012  EUR
2 2021-05-13     200    240.12   48024  EUR
3 2021-05-17    -150    250.12  -37518  EUR
4 2021-05-18      50    100.00    5000  USD

Now, let's add another user and grant them reading rights on one of Matthias' portfolio:

In [27]:
add_user('friedrich','friedpass')

Remember that `'matthias'` is the currently authenticated user:

In [28]:
grant_depot_permission('friedrich','Sparkasse','990012132','read')

We can now authenticate as `'friedrich'` and have a look at their own/granted depots:

In [29]:
authenticate('friedrich','friedpass')

In [30]:
position()

  depot_owner depot_broker depot_external_id depot_ccy isin         ins_ccy
1 matthias    Sparkasse    990012132         EUR       US0000000000 USD
  pos_valuedate pos_qty pos_vol pos_ccy
1 2021-05-18    50      5000    USD

Note that with the `'view'` grant, they cannot book a trade:

In [31]:
depotr::book_ticket(broker      = 'Sparkasse',
                    external_id = '990012132',
                    valuedate   = '2021-05-17',
                    isin        = 'DE0000000000',
                    trade       = list(qty=10,prc=250.12,ccy='EUR'),
                    payment     = list(list(type='fee',amount=10,ccy='EUR'),
                                       list(type='commission',amount=4,ccy='EUR'),
                                       list(type='tax',amount=100, ccy='EUR')))

ERROR: Error: Depot denied. [1644]

### Adding markt data to the mix

In [33]:
add_or_update_symbol('IEX','XETR','DE0008404005','EUR','ALV-GY')
add_or_update_symbol('IEX','XETR','DE0007164600','EUR','SAP-GY')
add_or_update_symbol('IEX','XETR','DE0007664039','EUR','VOW3-GY')

In [34]:
price_insert_batch()

Batch download :1/3 : ALV-GY   : 3641

Batch download :2/3 : SAP-GY   : 3641

Batch download :3/3 : VOW3-GY  : 3638

Batch download complete.

In [35]:
position()

  depot_owner depot_broker depot_external_id depot_ccy isin         ins_ccy
1 matthias    Sparkasse    990012132         EUR       US0000000000 USD
  pos_valuedate pos_qty pos_vol pos_ccy
1 2021-05-18    50      5000    USD

## Not implemented

In [37]:
depotr:::get_wrapper("SELECT * FROM v_last_symbol_data;")

  vendor symbol  maxdate
1 IEX    ALV-GY  2021-05-21
2 IEX    SAP-GY  2021-05-21
3 IEX    VOW3-GY 2021-05-21

In [38]:
depotr:::get_wrapper("SELECT * FROM v_price_adjusted LIMIT 10;")

   symid valuedate  open   high   low    close  volume
1  1     2007-01-02 158.96 160.80 159.94 161.00 1631619
2  1     2007-01-03 161.49 164.00 157.91 159.16 2546567
3  1     2007-01-04 162.63 163.52 159.32 161.38 3029458
4  1     2007-01-05 164.86 160.03 163.25 160.00 3188374
5  1     2007-01-08 159.65 161.00 162.81 164.71 2754506
6  1     2007-01-09 157.94 161.90 157.50 161.50 3602717
7  1     2007-01-10 162.20 159.69 153.95 156.06 4587786
8  1     2007-01-15 157.60 162.70 160.72 162.40 1631182
9  1     2007-01-16 161.69 158.34 161.11 158.66 2038074
10 1     2007-01-17 158.81 156.22 158.85 161.28 2654900

In [39]:
depotr:::get_wrapper("SELECT * FROM v_instrument_symbol LIMIT 10;")

  isin         name           ins_ccy mic  vendor symbol  sym_ccy
1 DE0007164600 SAP            EUR     XETR IEX    SAP-GY  EUR
2 DE0007664039 Volkswagen Vz. EUR     XETR IEX    VOW3-GY EUR
3 DE0008404005 Allianz SE     EUR     XETR IEX    ALV-GY  EUR

In [40]:
depotr:::get_wrapper("SELECT * FROM v_price_adjusted;") %>%
 dplyr::group_by(symid) %>%
dplyr::group_map(function(x,y){quantile(x$close,0.05)})

[[1]]
   5%
71.92

[[2]]
   5%
30.81

[[3]]
     5%
55.9895